[defaults]
# Indique le répertoire contenant l'inventaire des machines
# (par défaut c'est /etc/ansible/hosts)
inventory = inventaire
# Evite de recopier la clé ssh publique de l'hôte dans ~/.ssh/known_hosts
host_key_checking = False

[paramiko_connection]
host_key_auto_add = True
look_for_keys = False

[ssh_connection]
ssh_args = -o HostKeyAlgorithms=+ssh-rsa -o PubkeyAcceptedAlgorithms=+ssh-rsa -o KexAlgorithms=+diffie-hellman-group-exchange-sha1,diffie-hellman-group14-sha1
